.primary-btn-container {
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    display: flex;
    height: 50px;
    justify-content: center;
    transition: 0.4s ease-in-out;
    width: 100%;

    h3 {
        font-size: 20px;
    }
}

.primary-btn-container:hover {
    background-color: rgba($color: #FFFFFF, $alpha: 0.2);
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}