.shirt1-collage {
    cursor: pointer;
    position: relative;
    transition: 0.8s ease-in;
    width: 400px;

    .mati-eye-1 {
        bottom: 50px;
        position: absolute;
        transition: 0.8s ease-in;
        transform: rotate(45deg);
        width: 135px;
        z-index: 2;
    }

    .mati-eye-2 {
        position: absolute;
        right: 40px;
        top: 180px;
        transition: 0.8s ease-in;
        width: 84px;
        z-index: 2;
    }

    .article-img-container {
        height: 400px;
        transition: 0.8s ease-in;
        z-index: 1;
    }

    .mati-eye-3 {
        left: 50px;
        position: absolute;
        top: 60px;
        transition: 0.8s ease-in;
        transform: rotate(50deg);
        width: 44px;
        z-index: 0;
    }
}

.shirt1-collage:hover {

    .article-img-container {
        transform: translateY(-10px) scale(1.1);
        transition: 3s ease-out;
    }

    .mati-eye-1 {
        transform: translateX(-20px) translateY(-20px) scale(1.1) rotate(45deg);
        transition: 3s ease-out;
    }

    .mati-eye-2 {
        transform: translateX(30px) translateY(-10px) scale(1.1);
        transition: 3s ease-out;
    }

    .mati-eye-3 {
        transform: translateX(-30px) translateY(-50px) scale(1.1) rotate(50deg);
        transition: 3s ease-out;
    }
}