.carousel-btn-container {
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    display: flex;
    height: 50px;
    justify-content: center;
    transition: 0.8s;
    width: 50px;

    img {
        height: 20px;
        width: 20px;
    }
}

.carousel-btn-container:hover {
    background-color: rgba(119, 119, 119, 0.25);
    transform: scale(1.5);
    transition: 0.8s ease-in-out;
}