.payment-method-container {
    display: flex;
    gap: 150px;
    justify-content: center;
    margin: 60px;

    .payment-method-col {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h1 {
            font-size: 36px;
        }

        h3 {
            font-size: 24px;
        }

        .payment-method-options-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            width: 420px;

            .express-payment-option-container {
                align-items: center;
                background-color: rgba(255,255,255,0.2);
                border-radius: 8px;
                display: flex;
                height: 64px;
                justify-content: center;
                width: 200px;
            }

            .card-payment-option-container {
                align-items: center;
                background-color: rgba(255,255,255,0.2);
                border-radius: 8px;
                display: flex;
                height: 148px;
                justify-content: center;
                width: 100%;
            }

        }


    }
}