.cart-products-view-container {
    height: fit-content;
    text-align: center;
    width: 100vw;

    h1 {
        font-size: 36px;
        padding: 50px 0px;
    }
    
    .cart-items-container {
        align-items: center;
        display: flex;
        flex-flow: wrap;
        gap: 100px;
        justify-content: center;
        padding: 50px 0px;

        .product-holder {
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: relative;

            .cart-item-details {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                gap: 8px;
            }
        }

        .cart-item-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 10px;
            position: relative;
    
            .cart-item-details {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 8px;  
            }
        }
    }
}