.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .cart-component-container {
        z-index: 100;
    }

    .outlet-container {
        height: 100%;
        // position: absolute;
        width: 100%;
        z-index: 100;
    }
    .article-gradient-bg {
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: -100;
    }
}