.home-container {
    height: 100vh;
    width: 100vw;

    .article-gradient-bg {
        height: 100vh;
        position: fixed;
        width: 100vw;
        z-index: -100;
    }

    .center-elem {
    }
}