.grid-products-view-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    
    .grid-items-container {
        align-items: center;
        display: flex;
        gap: 48px;
        justify-content: center;
        position: relative;
        margin-top: 80px;
    }
}