.product-container {
    display: flex;
    flex-direction: column;
    height: 200vh;
    min-width: 100vw;
    position: absolute;

    .product-container-top-fold {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 60px;
        height: 100vh;
        justify-content: center;
        position: relative;
        width: 100vw;

        .product-img-container {
            height: 300px;
        }

        .product-shadow {
            background-color: rgba($color: #000000, $alpha: 0.15);
            border-radius: 50%;
            filter: blur(7px);
            height: 30px;
            width: 225px;
        }
    }
    .product-container-bot-fold {
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100vw;;

        .product-container-bot-fold-col {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 24px;
            height: 100vh;
            justify-content: center;
            width: 50vw;

            .product-container-price-action {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 40px;

                .product-container-price {
                    font-size: 81px;
                }

                .product-container-action {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .product-container-action-sizes {
                        display: flex;
                        gap: 20px;
                    }

                    .product-add-to-cart-btn {
                        align-items: center;
                        border: 2px solid #FFFFFF;
                        border-radius: 50px;
                        display: flex;
                        height: 50px;
                        justify-content: center;
                        width: 100%;

                        h2 {
                            font-size: 20px;
                        }
                    }
                }
            }
            .product-container-description {
                color: #FFFFFF;
                font-size: 18px;
                width: 300px;
            }
        }
        

        .product-img-carousel {
            height: 500px;
            width: 500px;

            .product-carousel-img-container {
                height: 100%;
                position: relative;
                width: 100%;
            }
        }
    }
}